@font-face {
  font-family: SourceSansPro-Black;
  src: url("./fonts/source-sans-pro/SourceSansPro-Black.otf") format("opentype");
}

@font-face {
  font-family: SourceSansPro-Blacklt;
  src: url("./fonts/source-sans-pro/SourceSansPro-Blacklt.otf")
    format("opentype");
}

@font-face {
  font-family: SourceSansPro-Bold;
  src: url("./fonts/source-sans-pro/SourceSansPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: SourceSansPro-Boldlt;
  src: url("./fonts/source-sans-pro/SourceSansPro-Boldlt.otf")
    format("opentype");
}

@font-face {
  font-family: SourceSansPro-ExtraLight;
  src: url("./fonts/source-sans-pro/SourceSansPro-ExtraLightlt.otf")
    format("opentype");
}

@font-face {
  font-family: SourceSansPro-lt;
  src: url("./fonts/source-sans-pro/SourceSansPro-lt.otf") format("opentype");
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url("./fonts/source-sans-pro/SourceSansPro-Light.otf") format("opentype");
}

@font-face {
  font-family: SourceSansPro-Lightlt;
  src: url("./fonts/source-sans-pro/SourceSansPro-Lightlt.otf")
    format("opentype");
}

@font-face {
  font-family: SourceSansPro-Regular;
  src: url("./fonts/source-sans-pro/SourceSansPro-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: SourceSansPro-Semibold;
  src: url("./fonts/source-sans-pro/SourceSansPro-Semibold.otf")
    format("opentype");
}

@font-face {
  font-family: SourceSansPro-Semiboldlt;
  src: url("./fonts/source-sans-pro/SourceSansPro-Semiboldlt.otf")
    format("opentype");
}

@font-face {
  font-family: SourceSansPro-Blacklt;
  src: url("./fonts/source-sans-pro/SourceSansPro-Blacklt.otf")
    format("opentype");
}

@font-face {
  font-family: spincycle_3d_ot;
  src: url("./fonts/Spin-Cycle-OT/spincycle_3d_ot.otf") format("opentype");
}

@font-face {
  font-family: spincycle_ot;
  src: url("./fonts/Spin-Cycle-OT/spincycle_ot.otf") format("opentype");
}

nav {
  position: absolute;
  top: 37px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav img {
  width: 161px;
  height: 32px;
}

nav ul {
  display: flex;
  gap: 41px;
  list-style: none;
}

li a {
  font-family: SourceSansPro-Bold;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
}

.first_section {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url("../headphones/images/headphones_hero_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
}

.first_section_content_titles {
  text-align: center;
}

.first_section_content {
  width: 100%;
  max-width: 637px;
  margin-bottom: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.first_section_content h1 {
  font-family: SourceSansPro-Bold;
  font-size: 32px;
  color: #ffffff;
}

.first_section_content h2 {
  font-family: SourceSansPro-Bold;
  font-size: 16px;
  color: #ffffff;
}

.first_section_content p {
  font-family: SourceSansPro-Regular;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
}

.first_section_content button {
  background-color: #ff6565;
  color: #fff;
  font-family: SourceSansPro-Bold;
  font-size: 14px;
  width: 162px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Tablet styling */

@media (width <= 768px) {
}

/* Mobile styling */

@media (width <= 375px) {
  nav {
    top: 29px;
    flex-direction: column;
    gap: 20px;
  }

  nav ul {
    display: none;
    flex-direction: column;
  }

  .show {
    display: flex;
  }

  .first_section {
    background-position-x: -375px;
    height: 869px;
  }

  .first_section_content {
    margin-bottom: 106px;
    width: 90%;
  }
}
