@font-face {
    font-family: SourceSansPro-Black;
    src: url("./fonts/source-sans-pro/SourceSansPro-Black.otf") format('opentype');
}


@font-face {
    font-family: SourceSansPro-Blacklt;
    src: url(".fonts/source-sans-pro/SourceSansPro-Blacklt.otf") format("opentype");
}

@font-face {
    font-family: SourceSansPro-Bold;
    src: url(".fonts/source-sans-pro/SourceSansPro-Bold.otf") format("opentype");
}

@font-face {
    font-family: SourceSansPro-Boldlt;
    src: url(".fonts/source-sans-pro/SourceSansPro-Boldlt.otf") format("opentype");
}

@font-face {
    font-family: SourceSansPro-ExtraLight;
    src: url(".fonts/source-sans-pro/SourceSansPro-ExtraLightlt.otf") format("opentype");
}

@font-face {
    font-family: SourceSansPro-lt;
    src: url(".fonts/source-sans-pro/SourceSansPro-lt.otf") format("opentype");
}

@font-face {
    font-family: SourceSansPro-Light;
    src: url(".fonts/source-sans-pro/SourceSansPro-Light.otf") format("opentype");
}

@font-face {
    font-family: SourceSansPro-Lightlt;
    src: url(".fonts/source-sans-pro/SourceSansPro-Lightlt.otf") format("opentype");
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url(".fonts/source-sans-pro/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: SourceSansPro-Semibold;
    src: url(".fonts/source-sans-pro/SourceSansPro-Semibold.otf") format("opentype");
}

@font-face {
    font-family: SourceSansPro-Semiboldlt;
    src: url(".fonts/source-sans-pro/SourceSansPro-Semiboldlt.otf") format("opentype");
}

@font-face {
    font-family: SourceSansPro-Blacklt;
    src: url(".fonts/source-sans-pro/SourceSansPro-Blacklt.otf") format("opentype");
}

@font-face {
    font-family: spincycle_3d_ot;
    src: url(".fonts/Spin-Cycle-OT/spincycle_3d_ot.otf") format("opentype");
}

@font-face {
    font-family: spincycle_ot;
    src: url(".fonts/Spin-Cycle-OT/spincycle_ot.otf") format("opentype");
}




nav {
    position: absolute;
    top: 37px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 41px;
    list-style: none;
}

li {
    font-family: Source Sans Pro;
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;

}




main .first_section {
    background-image: url("../headphones/images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    flex-direction: column;
    padding: 372px 381px 115px 382px;
}



.first_section {
    gap: 35px;
    display: flex;
    align-items: center;
}

.first_section h1 {
    font-family: Source Sans Pro;
    font-size: 32px;
    color: #FFFFFF;
}

.first_section p {
    font-family: Source Sans Pro;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;

}

.first_section button {
    background-color: #FF6565;
    color: #fff;
    font-family: SourceSansSemiBold;
    font-size: 14px;
    width: 637px;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #000000 25%
}

.intro {
    width: 637px;
    height: 184px;

}

.intro h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.intro p {
    text-align: center;
    width: 637px;
    height: 104px;
    font-size: 16px;

}

.types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 58px;
    text-align: center;
}

.Second_section {
    gap: 107px;
}

.Third_section {
    background-image: url("../headphones/images/headphones_hero_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    flex-direction: column;
}

.results_section h1 {
    display: flex;
    justify-content: center;
    color: #FFFFFF;


}

.results_section p {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
    width: 637px;
    height: 104px;
}

.dots {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #071629;
    background-size: cover;
    height: 249px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer_logo {
    display: flex;
    width: 160.96px;
    height: 31.18px;
}

.social_media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #FFFFFF;
    width: 130px;
    height: 30px;
    cursor: pointer;

}

.fourth_section h1 {}


footer p {
    bottom: 30px;
    left: 651px;
    color: #FFFFFF;
    text-align: left;
    font-size: 12px;

}